.wrapper {
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
}

.page {
    background-color: lemonchiffon;
}

.card-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    display: block;
}

.card {
    margin-bottom: 5px;
}

#banner {
    grid-column-start: 1;
    grid-column-end: 4;
}

#sidebar {
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

#bannerImage {
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    display: block;
}

#author {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    display: block;
    border-radius: 80%;
}
