.mainText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.descText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.imageSizing {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
    display: block;
}

.container {
    background-color: skyblue;
    display: flex;
    justify-content: center;
}

#page2 {
    display: none;
}

#userInput {
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
}

#Grade {
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    font-size: 32px;
    font-family: "Courier New", Courier, monospace;
}

.navButton {
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    font-size: 17px;
}

table {
    width: 100%;
    border: 1px black;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgb(196, 194, 194);
    background-color: whitesmoke;
}

tr:hover {
    background-color: honeydew;
}

tr:nth-child(odd):hover {
    background-color: honeydew;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

td {
    border: 1px solid black;
    text-align: center;
}

#myTable {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
}
.icon-button {
    margin-left: 8px;
}

.icon-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.delete-button {
    color: red;
}

