.inputItem {
    margin-top: 20px;
    margin-left: 20px;
}

.icon-button {
    margin-left: 8px;
}

.icon-button:hover {
    cursor: wait;
    opacity: 0.5;
}

.delete-button {
    color: red;
}

.responsive-item {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(odd) {
    background-color: rgb(222, 179, 179);
}

.inputItem {
    margin-top: 10px;
    width: 1000px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
}

.flex-parent {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: bold !important;
    font-size: 120px !important;
}
