body {
    background-color: #E6E6DC;
}

.headerText {
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 30px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: flex-end;
    background-color: #00628B;
}

.card-deck {
    padding-bottom: 25px;
}

.card {
    border: 1px solid black;
    background-color: #81A594;
    position: relative;
    margin: 15px;
    height: 100%;
    padding: 10px 3px;
}

.card-img-top {
    max-width: 80%;
    max-height: 100vh;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-img-special {
    max-width: 80%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.btn-primary {
    display: block;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
