table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-shadow: 0 0 20px grey;
}

thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
}

.centerObject {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

td,
th {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddd;
}

tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}
