.wrapper {
    width: 70%;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 1fr;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.innerText {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: large;
}

.smallerText {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 14px;
}

#id {
    text-align: center;
    max-width: 50%;
    margin: auto auto 50px;
}

#coinFlipped {
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#myTable {
    width: 100%;
    border: 1px black;
    border-collapse: collapse;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Courier New", Courier, monospace;
}

th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgb(196, 194, 194);
    background-color: whitesmoke;
}

td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

#clear {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "Courier New", Courier, monospace;
}
